* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", "sans-serif";
  margin: 0;
}
.icondiv {
  margin-left: 5px;
}
.moviecard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2rem;
  overflow: hidden;

  max-width: 350px;
}
.moviecard-container-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}
.moviecard-image {
  max-width: 350px;
}
.moviecard-body {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
}
.moviecard-body-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 550px;
  height: 525px;
  background-color: rgba(32, 32, 32, 0.8);
}
.rightdivbottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.rightdivbottom ul {
  list-style: none;
  font-size: 20px;
  color: rgb(219, 219, 219);
}
.rightdivbottom ul li {
  border-bottom: 2px solid rgb(255, 254, 254);
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
}
.moviecard-title {
}
.moviecard-overview {
}
.overview-container {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(100%);
  transition: all 0.5s;
  opacity: 0%;
}
.overview-container-detail {
  padding: 20px;
  background-color: rgba(32, 32, 32, 0.8);
  max-width: 500px;
}
.moviecard-container:hover .overview-container {
  transform: translateX(0%);
  opacity: 100%;
}
.votecontainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
.votecontainer button {
  background: none;
  color: inherit;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  color: rgb(95, 95, 245);
  margin-right: 3.65rem;
}
.tag {
  border-radius: 60px;
  padding: 0.4rem;
  font-weight: 600;
  width: 3rem;
  text-align: center;
  color: rgb(36, 36, 36);
}

.tag.green {
  background-color: #0b8f14;
}

.tag.orange {
  background-color: #d88f08;
}

.tag.red {
  background-color: #7f0000;
}

.search-container {
  text-align: center;
  margin-top: 40px;
}
.search {
  text-indent: 10px;
  width: 300px;
  height: 40px;

  outline: none;
}

.search:focus {
}
.icon {
  position: absolute;
  transform: translateX(-150%);
  margin-top: 7px;
  cursor: pointer;
  border-style: none;
  opacity: 0.6;
  padding: 2px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
@media only screen and (max-width: 600px) {
  .moviecard-container {
    width: 300px;
  }
  .moviecard-image {
    width: 300px;
  }
  .moviecard-overview {
    font-size: 18px;
  }
}
