* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#root {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(3,65,89,1) 90%, rgba(2,89,81,1) 100%);
}
.maincontainer{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(3,65,89,1) 90%, rgba(2,89,81,1) 100%);
}
.icondiv {
  margin-left: 5px;
}
.moviecard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2rem;
  overflow: hidden;
  max-width: 350px;
  
}
.moviecard-container-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
  height: 100vh;
}
.moviecard-image {
  max-width: 350px;
}
.moviecard-image-detail {
  max-width: 350px;
}
.moviecard-body {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
}
.moviecard-body-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 525px;
  max-width: 700px;
  background-color: rgba(32, 32, 32, 0.8);
}
.rightdivbottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.rightdivbottom ul {
  list-style: none;
  font-size: 20px;
  color: rgb(219, 219, 219);
}
.rightdivbottom ul li {
  border-bottom: 2px solid rgb(255, 254, 254);
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
}
.moviecard-title {
  color: white;
}
.moviecard-overview {
  color: white;
}
.overview-container {
  position: absolute;
  padding: 20px;
  background-color: rgba(31, 31, 31, 0.8);
  transform: translateX(100%);
  transition: all 0.5s;
  opacity: 0%;
  color: white;
}

.overview-container-detail {
  padding: 20px;
  background-color: rgba(37, 37, 37, 0.8);
  max-width: 900px;
}
.moviecard-container:hover .overview-container {
  transform: translateX(0%);
  opacity: 100%;
}
.moviecard-container:hover{
  opacity: 90%;
}
.votecontainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
.votecontainer button {
  background: none;
  color: inherit;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  color: rgb(95, 95, 245);
  margin-right: 3.65rem;
}
.tag {
  border-radius: 60px;
  padding: 0.4rem;
  font-weight: 600;
  width: 3rem;
  text-align: center;
  color: rgb(36, 36, 36);
}

.tag.green {
  background-color: #0b8f14;
}

.tag.orange {
  background-color: #d88f08;
}

.tag.red {
  background-color: #7f0000;
}

.search-container {
  text-align: center;
  background-color: #025951;
  padding-top: 120px;
}
.search {
  text-indent: 10px;
  width: 300px;
  height: 40px;

  outline: none;
}

.search:focus {
  border: 2px solid rgb(71, 71, 71);
}
.icon {
  position: absolute;
  transform: translateX(-150%);
  margin-top: 7px;
  cursor: pointer;
  border-style: none;
  opacity: 0.6;
  padding: 2px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.dropbtn {
  background-color: rgb(107, 105, 105);
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7c7c7c;
  min-width: 160px;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(238, 238, 238);
  font-size: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #494949;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(3, 128, 115);}

.navbarr {
  background-color: rgb(44, 44, 44);
  padding: 18px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top:0;
  z-index: 1;
  width: 100vw;
}
.navbarr a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.logincontainer{
  background-color: rgb(85, 85, 85);
}

@media only screen and (max-width: 900px) {
  .moviecard-container {
    width: 300px;
  }
  .moviecard-container-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140vh;
  }
  .overview-container-detail {
    width: 350px;
  }
  .moviecard-image {
    width: 300px;
  }
  
  .moviecard-overview {
    font-size: 18px;
  }
  .dropdownmenu{
    margin-right: 100px;
  }
  
}

